@model IEnumerable<QuanLyHocSinhDuHoc.Models.Entities.NAMHOC>
@{
    ViewBag.Title = "ThemmoiDiem";
    Layout = "~/Views/Share/_LayoutTrangChu.cshtml";
}

<div class="" id="loadNamHoc">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered" style="overflow-x:auto;">
                                    <thead>
                                        <tr>
                                            <th><div class="word-wrap">Thời gian</div></th>
                                            <th><div class="word-wrap">Tên lớp</div></th>
                                            <th><div class="word-wrap">Tên trường</div></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableMonhoc">                                          
                                                @foreach (var itemNH in Model)
                                                {
                                                    <tr>
                                                        <td><div class=word-wrap>@itemNH.ThoiGian</div></td>
                                                        <td><div class=word-wrap>@itemNH.TenLop</div></td>
                                                        <td><div class=word-wrap>@itemNH.TenTruong</div></td>
                                                        <td>                                                     
                                                        <a data-toggle=tooltip data-placement=bottom title="Nhập điểm" href="#" onclick="NhapDiem(@itemNH.id)">
                                                            <i class="fa fa-plus"></i>
                                                        </a></td>
                                                    </tr>
                                                }                                 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Bảng dữ liệu -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* điểm Kì học  *@
<div class="container" id="Diemhocki" style="display:none;">
    <h4>Thông tin điểm các kì học năm học ....</h4>
    <div class="row nhapdiem">
        <div class="col-lg-3">
            <table class="table table-bordered" id="table_mon">
                <thead>
                    <tr class="success" style="height: 84px;"><th style="font-size:17px;">Môn học/Hoạt động GD</th></tr>
                    <tr><th>Toán</th></tr>
                    <tr><th>Vật lý</th></tr>
                    <tr><th>Hóa học</th></tr>
                    <tr><th>Sinh học</th></tr>
                    <tr><th>Tinh học</th></tr>
                    <tr><th>Ngữ văn</th></tr>
                    <tr><th>Lịch sử</th></tr>
                    <tr><th>Địa lý</th></tr>
                    <tr><th>Ngoại ngữ</th></tr>
                    <tr><th>Công nghệ</th></tr>
                    <tr><th>GD,QP-AN</th></tr>
                    <tr><th>Thể dục (Đạt,Không đạt)</th></tr>
                    <tr><th>Tự chọn</th></tr>
                    <tr><th>Giáo dục công dân</th></tr>
                    <tr><th>Điểm trung bình</th></tr>
                </thead>
            </table>
        </div>

        <div class="col-lg-7">
            <form method="post">
                <table class="table table-bordered" id="table_mon">
                    <thead>
                        <tr class="success"><th colspan="3" style="font-size:17px;">Điểm trung bình các môn</th></tr>
                        <tr class="success" style="font-size:17px;">
                            <th>HKỳ I</th>
                            <th>HKỳ II</th>
                            <th>CN</th>
                        </tr>

                        <tr>
                            <th><input name="ToanI" id="ToanI" type="text" /></th>
                            <th><input name="ToanI" id="ToanII" type="text" /></th>
                            <th><input name="ToanI" id="ToanCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="LyI" id="LyI" type="text" /></th>
                            <th><input name="LyII" id="LyII" type="text" /></th>
                            <th><input name="LyCN" id="LyCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="HoaI" id="HoaI" type="text" /></th>
                            <th><input name="HoaII" id="HoaII" type="text" /></th>
                            <th><input name="HoaCN" id="HoaCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="SinhI" id="SinhI" type="text" /></th>
                            <th><input name="SinhII" id="SinhII" type="text" /></th>
                            <th><input name="SinhCN" id="SinhCN" type="text" /></th>

                        </tr>
                        <tr>
                            <th><input name="TinI" id="TinI" type="text" /></th>
                            <th><input name="TinII" id="TinII" type="text" /></th>
                            <th><input name="TinCN" id="TinCN" type="text" /></th>

                        </tr>
                        <tr>
                            <th><input name="VanI" id="VanI" type="text" /></th>
                            <th><input name="VanII" id="VanII" type="text" /></th>
                            <th><input name="VanCN" id="VanCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="SuI" id="SuI" type="text" /></th>
                            <th><input name="SuII" id="SuII" type="text" /></th>
                            <th><input name="SuCN" id="SuCN" type="text" /></th>

                        </tr>
                        <tr>
                            <th><input name="DiaI" id="DiaI" type="text" /></th>
                            <th><input name="DiaII" id="DiaII" type="text" /></th>
                            <th><input name="DiaCN" id="DiaCN" type="text" /></th>

                        </tr>
                        <tr>
                            <th><input name="NgoaiNguI" id="NgoaiNguI" type="text" /></th>
                            <th><input name="NgoaiNguII" id="NgoaiNguII" type="text" /></th>
                            <th><input name="NgoaiNguCN" id="NgoaiNguCN" type="text" /></th>

                        </tr>
                        <tr>
                            <th><input name="CongNgheI" id="CongNgheI" type="text" /></th>
                            <th><input name="CongNgheII" id="CongNgheII" type="text" /></th>
                            <th><input name="CongNgheCN" id="CongNgheCN" type="text" /></th>

                        </tr>
                        <tr>
                            <th><input name="QuocPhongAnNinhI" id="QuocPhongAnNinhI" type="text" /></th>
                            <th><input name="QuocPhongAnNinhII" id="QuocPhongAnNinhII" type="text" /></th>
                            <th><input name="QuocPhongAnNinhCN" id="QuocPhongAnNinhCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="TheDucI" id="TheDucI" type="text" /></th>
                            <th><input name="TheDucII" id="TheDucII" type="text" /></th>
                            <th><input name="TheDucCN" id="TheDucCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="TuChonI" id="TuChonI" type="text" /></th>
                            <th><input name="TuChonII" id="TuChonII" type="text" /></th>
                            <th><input name="TuChonCN" id="TuChonCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="GiaoDucCongDanI" id="GiaoDucCongDanI" type="text" /></th>
                            <th><input name="GiaoDucCongDanII" id="GiaoDucCongDanII" type="text" /></th>
                            <th><input name="GiaoDucCongDanCN" id="GiaoDucCongDanCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="DiemTrungBinhI" id="DiemTrungBinhI" type="text" /></th>
                            <th><input name="DiemTrungBinhII" id="DiemTrungBinhII" type="text" /></th>
                            <th><input name="DiemTrungBinhCN" id="DiemTrungBinhCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><button type="button" onclick="DiemKyI()">Lưu điểm kỳ I</button><button type="button">Chọn ảnh</button></th>
                            <th><button type="button" onclick="DiemKyII()">Lưu điểm kỳ II</button><button type="button">Chọn ảnh</button></th>
                            <th><button type="button" onclick="DiemKyCN()">Lưu điểm kỳ CN</button><button type="button">Chọn ảnh</button></th>
                        </tr>
                    </thead>
                </table>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/NhapDiem.js"></script>