@{
    ViewBag.Title = "Thêm mới học sinh";
    Layout = "~/Views/Share/_LayoutTrangChu.cshtml";
}
<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm mới học sinh</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post">
                        <div class="row">                          
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <br /><br />
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Tên học sinh <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="tenHS" name="tenHS" required="required" placeholder="Tên học sinh" type="text" />
                                       
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Số điện thoại
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="SDT" name="sdt" type="text" placeholder="Số điện thoại" />
                                       
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Email
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="Email" name="email" placeholder="Email" type="email" />
                                        
                                    </div>
                                </div>
                                <p id="messThemHS" style="color:red;font-weight:bold;"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="ln_solid"></div>
                            @*chức năng*@
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button class="btn btn-success" type="button" onclick="ThemmoiHS()" style="margin-left:10%;">Thêm mới</button>
                                    <a href="/HocSinh/Index" class="btn btn-primary">Huỷ</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  
    function ThemmoiHS()
    {
        if ($("#tenHS").val() == "" || $("#tenSDT").val() == "" || $("#tenEmail").val() == "")
            $("#messThemHS").text("Thông tin không được để trống");
        else {
            var hocsinh = {
                TenHS: $('#tenHS').val(),
                sdt: $('#SDT').val(),
                email: $('#Email').val()
            };
            $.ajax({
                type: "POST",
                url: "/HocSinh/Themmoi",
                dataType: "json",
                data: JSON.stringify(hocsinh),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var result = confirm("Bạn có muốn thêm thông tin khác?");
                    if (result) {
                        window.location.href = "/HocSinh/ThemmoiChung/" + data;
                    } else {
                        window.location.href = "/HocSinh/Index";
                    }
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });
        }
        
    }
</script>

