@* Phần thêm mới năm học *@
<div class="" id="formNH" style="display:none;">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm mới thông tin năm học</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post" id="ThemmoiNamHoc">
                        <div class="row">
                            @* Phan 1 *@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Thới gian <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="ThoiGian" name="ThoiGian" required="required" placeholder="Thời gian" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Tên lớp
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="TenLop" name="TenLop" required="required" placeholder="Tên lớp" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Tên trường
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="TenTruong" name="TenTruong" required="required" placeholder="Tên trường" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ln_solid"></div>
                            @*chức năng*@
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button class="btn btn-success" type="button" onclick="SaveNamHoc()" style="margin-left:30%;">Thêm mới</button>
                                    <a href="/HocSinh/Index" class="btn btn-primary">Huỷ</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@* Phần hiện thị năm học *@
<div class="" id="formLoadNH" style="display:none;">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered" style="overflow-x:auto;">
                                    <thead>
                                        <tr>
                                            <th><div class="word-wrap">Thời gian</div></th>
                                            <th><div class="word-wrap">Tên lớp</div></th>
                                            <th><div class="word-wrap">Tên trường</div></th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody id="tableMonhoc">
                                        @*hiện thị danh sách năm học*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Bảng dữ liệu -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* điểm Kì học  *@
<div class="container" id="Diemhocki" style="display:none;">
    <h4>Thông tin điểm các kì học năm học ...</h4>
    <div class="row nhapdiem">
        <div class="col-lg-3">
            <table class="table table-bordered" id="table_mon">
                <thead>
                    <tr class="success" style="height: 84px;"><th style="font-size:17px;">Môn học/Hoạt động GD</th></tr>
                    <tr><th>Toán</th></tr>
                    <tr><th>Vật lý</th></tr>
                    <tr><th>Hóa học</th></tr>
                    <tr><th>Sinh học</th></tr>
                    <tr><th>Tinh học</th></tr>
                    <tr><th>Ngữ văn</th></tr>
                    <tr><th>Lịch sử</th></tr>
                    <tr><th>Địa lý</th></tr>
                    <tr><th>Ngoại ngữ</th></tr>
                    <tr><th>Công nghệ</th></tr>
                    <tr><th>GD,QP-AN</th></tr>
                    <tr><th>Thể dục (Đạt,Không đạt)</th></tr>
                    <tr><th>Tự chọn</th></tr>
                    <tr><th>Giáo dục công dân</th></tr>
                    <tr><th>Điểm trung bình</th></tr>
                    <tr><th></th></tr>
                </thead>
            </table>
        </div>

        <div class="col-lg-7">
            <form method="post">
                <table class="table table-bordered" id="table_mon">
                    <thead>
                        <tr class="success"><th colspan="3" style="font-size:17px;">Điểm trung bình các môn</th></tr>
                        <tr class="success" style="font-size:17px;">
                            <th>HKỳ I</th>
                            <th>HKỳ II</th>
                            <th>CN</th>
                        </tr>

                        <tr>
                            <th><input name="ToanI" id="ToanI" type="text" /></th>
                            <th><input name="ToanI" id="ToanII" type="text" /></th>
                            <th><input name="ToanI" id="ToanCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="LyI" id="LyI" type="text" /></th>
                            <th><input name="LyII" id="LyII" type="text" /></th>
                            <th><input name="LyCN" id="LyCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="HoaI" id="HoaI" type="text" /></th>
                            <th><input name="HoaII" id="HoaII" type="text" /></th>
                            <th><input name="HoaCN" id="HoaCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="SinhI" id="SinhI" type="text" /></th>
                            <th><input name="SinhII" id="SinhII" type="text" /></th>
                            <th><input name="SinhCN" id="SinhCN" type="text" /></th>

                        </tr>
                        <tr>
                            <th><input name="TinI" id="TinI" type="text" /></th>
                            <th><input name="TinII" id="TinII" type="text" /></th>
                            <th><input name="TinCN" id="TinCN" type="text" /></th>

                        </tr>
                        <tr>
                            <th><input name="VanI" id="VanI" type="text" /></th>
                            <th><input name="VanII" id="VanII" type="text" /></th>
                            <th><input name="VanCN" id="VanCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="SuI" id="SuI" type="text" /></th>
                            <th><input name="SuII" id="SuII" type="text" /></th>
                            <th><input name="SuCN" id="SuCN" type="text" /></th>

                        </tr>
                        <tr>
                            <th><input name="DiaI" id="DiaI" type="text" /></th>
                            <th><input name="DiaII" id="DiaII" type="text" /></th>
                            <th><input name="DiaCN" id="DiaCN" type="text" /></th>

                        </tr>
                        <tr>
                            <th><input name="NgoaiNguI" id="NgoaiNguI" type="text" /></th>
                            <th><input name="NgoaiNguII" id="NgoaiNguII" type="text" /></th>
                            <th><input name="NgoaiNguCN" id="NgoaiNguCN" type="text" /></th>

                        </tr>
                        <tr>
                            <th><input name="CongNgheI" id="CongNgheI" type="text" /></th>
                            <th><input name="CongNgheII" id="CongNgheII" type="text" /></th>
                            <th><input name="CongNgheCN" id="CongNgheCN" type="text" /></th>

                        </tr>
                        <tr>
                            <th><input name="QuocPhongAnNinhI" id="QuocPhongAnNinhI" type="text" /></th>
                            <th><input name="QuocPhongAnNinhII" id="QuocPhongAnNinhII" type="text" /></th>
                            <th><input name="QuocPhongAnNinhCN" id="QuocPhongAnNinhCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="TheDucI" id="TheDucI" type="text" /></th>
                            <th><input name="TheDucII" id="TheDucII" type="text" /></th>
                            <th><input name="TheDucCN" id="TheDucCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="TuChonI" id="TuChonI" type="text" /></th>
                            <th><input name="TuChonII" id="TuChonII" type="text" /></th>
                            <th><input name="TuChonCN" id="TuChonCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="GiaoDucCongDanI" id="GiaoDucCongDanI" type="text" /></th>
                            <th><input name="GiaoDucCongDanII" id="GiaoDucCongDanII" type="text" /></th>
                            <th><input name="GiaoDucCongDanCN" id="GiaoDucCongDanCN" type="text" /></th>
                        </tr>
                        <tr>
                            <th><input name="DiemTrungBinhI" id="DiemTrungBinhI" type="text" /></th>
                            <th><input name="DiemTrungBinhII" id="DiemTrungBinhII" type="text" /></th>
                            <th><input name="DiemTrungBinhCN" id="DiemTrungBinhCN" type="text" /></th>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p id="messTbDiem" style="font-weight:bold;color:red;"></p>
                                <button class="btn btn-primary" type="button" id="disDiemKy" onclick="Diem3Ky()">Lưu điểm 3 kỳ</button>
                            </td>
                        </tr>
                    </thead>
                </table>
            </form>
        </div>
    </div>
</div>


