<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm mới thông tin CMT Loại 2</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post">
                        <div class=" item form-group">
                            <button id="btn_fileCMT2" type="button" onclick="$('#fileCMT2').click()" class="btn btn-sm btn-primary" style="width:230px;">Chọn file</button>
                            <input type="file" id="fileCMT2" name="fileCMT2" style="display: none;" class="form-control">
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Số chứng minh <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" id="SoCMT2" name="SoCMT" type="text" placeholder="Số chứng minh" />
                                <p id="messThemTrugCMT2" style="color:red;font-weight:bold;"></p>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Họ tên <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" id="HoTen2" name="HoTen" required="required" placeholder="Họ tên" type="text" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Tên gọi khác <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" id="TenGoiKhac2" name="TenGoiKhac" required="required" placeholder="Tên gọi khác" type="text" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Ngày sinh <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control has-feedback-left active" name="NgaySinh" id="dtpNgaySinh2" type="text"/><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Quê quán
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" id="QueQuan2" name="QueQuan" placeholder="Quê quán" type="text" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Nơi thường trú
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" id="NoiThuongTru2" name="NoiThuongTru" placeholder="Nơi thường trú" type="text" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Giới tính
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="radio-inline">
                                    <input type="radio" name="GioiTinh" value="Nam" /> Nam
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="GioiTinh" value="Nữ" /> Nữ
                                </label>                            
                            </div>
                        </div>                       
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Dân tộc
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="DanToc2" class="form-control col-md-7 col-xs-12" name="DanToc" type="text" placeholder="Dân tộc" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Gía trị đến <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control has-feedback-left active" name="GiaTriDen" id="dtpGiaTriDen2" type="text" /><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Dấu vết riêng
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="DauVetRieng2" name="DauVetRieng" placeholder="Dấu vết riêng" class="form-control col-md-7 col-xs-12"></textarea>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Ngày cấp <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control has-feedback-left active" name="NgayCap" id="dtpNgayCap2" type="text" /><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Nơi cấp
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="NoiCap2" class="form-control col-md-7 col-xs-12" name="NoiCap" placeholder="Nơicấp" type="text" />
                            </div>
                        </div>
                        <p id="messThemCMT2" style="color:red;font-weight:bold;"></p>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button class="btn btn-success" type="button" onclick="SaveCMT2()">Thêm mới</button>
                                <a href="#" class="btn btn-primary">Huỷ</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //format datetime
        var now = new Date();
        var dateNow = now.getMonth() + 1 + "/" + now.getDate() + "/" + now.getFullYear();
        $("#dtpNgaySinh2").val(dateNow);
        $("#dtpGiaTriDen2").val(dateNow);
        $("#dtpNgayCap2").val(dateNow);        
        $("#dtpNgaySinh2").daterangepicker({
            singleDatePicker: true,
            calender_style: 'picker_1',
            locale: {
                format: "MM-DD-YYYY"
            },
        }, function (start, end, laber) {
            console.log(start.toISOString(), end.toISOString(), laber);
        });
        $("#dtpGiaTriDen2").daterangepicker({

            singleDatePicker: true,
            calender_style: 'picker_1',
            locale: {
                format: "MM-DD-YYYY"
            },
        }, function (start, end, laber) {
            console.log(start.toISOString(), end.toISOString(), laber);
        });
        $("#dtpNgayCap2").daterangepicker({

            singleDatePicker: true,
            calender_style: 'picker_1',
            locale: {
                format: "MM-DD-YYYY"
            },
        }, function (start, end, laber) {
            console.log(start.toISOString(), end.toISOString(), laber);
        });
    });


    $("#SoCMT2").blur(function () {
        var socmt = $("#SoCMT2").val();
        if (socmt != "") {
            $.ajax({
                type: "POST",
                url: "/CMT/CheckTrungSo_CMT",
                dataType: "json",
                data: JSON.stringify({ socmt: socmt }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data == "Trung") {
                        $("#messThemTrugCMT2").text("Số chứng minh thư đã tồn tại !");
                        return false;
                    }
                    else {
                        $("#messThemTrugCMT2").text("");
                        return false;
                    }
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });
        }
    });
    $("#SoCMT2").focus(function () {
        $("#messThemTrugCMT2").text("");
        return false;
    });
    function SaveCMT2() {
        if ($("#SoCMT2").val() == "" || $("#HoTen2").val() == "" || $("#dtpNgaySinh2").val() == "" || $("#QueQuan2").val() == "" ||
            $("#NoiThuongTru2").val() == "" || $("#dtpGiaTriDen2").val() == "" || $("#DanToc2").val() == "" ||
            $("#DauVetRieng2").val() == "" || $("#dtpNgayCap2").val() == "" || $("#NoiCap2").val() == "")
            $("#messThemCMT2").text("Thông tin không được để trống !");
        else {
            $("#messThemCMT2").text("");
            var cmt2 = {
                SoCMT: $("#SoCMT2").val(),
                HoTen: $("#HoTen2").val(),
                TenGoiKhac: $("#TenGoiKhac2").val(),
                NgaySinh: $("#dtpNgaySinh2").val(),
                GioiTinh: $('[name="GioiTinh"]:radio:checked').val(),
                QueQuan: $("#QueQuan2").val(),
                NoiThuongTru: $("#NoiThuongTru2").val(),
                GiaTriDen: $("#dtpGiaTriDen2").val(),
                DanToc: $("#DanToc2").val(),
                DauVetRieng: $("#DauVetRieng2").val(),
                NgayCap: $("#dtpNgayCap2").val(),
                NoiCap: $("#NoiCap2").val(),
                LoaiCMT: 2
            };
            var socmt = $("#SoCMT2").val();
            if (socmt != "") {
                $.ajax({
                    type: "POST",
                    url: "/CMT/CheckTrungSo_CMT",
                    dataType: "json",
                    data: JSON.stringify({ socmt: socmt }),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data == "Trung") {
                            $("#messThemTrugCMT2").text("Số chứng minh thư đã tồn tại !");
                            return false;
                        }
                        else {
                            $.ajax({
                                type: "POST",
                                url: "/CMT/Themmoi2",
                                dataType: "json",
                                data: JSON.stringify(cmt2),
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    if (data == "Thêm thất bại!") {
                                        alert(data);
                                        return false;
                                    }
                                    if (data == "Thêm thành công!") {
                                        $("#ClassCMT").css("display", "none");
                                        $("#Loai1").css("display", "none");
                                        $("#Loai2").css("display", "none");
                                        $("#Loai3").css("display", "none");
                                        var row = '';
                                        row += "<h2 style='color:#0070e2;'><strong>Đã thêm thành công</strong></h2>"
                                        $("#ThongbaoCMT").html(row);
                                        return false;
                                    } else {
                                        window.location.href = "/HocSinh/DetailChung/" + data;
                                    }
                                },
                                error: function (err) {
                                    alert("Error: " + err.responseText);
                                }
                            });
                        }
                    },
                    error: function (err) {
                        alert("Error: " + err.responseText);
                    }
                });
            }
        }
    }
</script>