
@{
    ViewBag.Title = "ThemmoiR";
    Layout = "~/Views/Share/_LayoutTrangChu.cshtml";
}

<div class="" id="ClassBTN">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm mới thông tin bằng tốt nghiệp</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-8">
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Họ tên <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="HoTenBTN" name="HoTen" required="required" placeholder="Họ tên" type="text" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Ngày sinh <span class="required"></span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control has-feedback-left active" name="NgaySinh" id="dtpNgaySinhBTN" type="date" /><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Nơi sinh
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="NoiSinhBTN" name="NoiSinh" type="text" placeholder="Nơi sinh" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Giới tính
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="GioiTinh" value="Nam" /> Nam
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="GioiTinh" value="Nữ" /> Nữ
                                        </label>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Dân tộc
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="DanTocBTN" name="DanToc" placeholder="Dân tộc" type="text" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Khóa thi <span class="required"></span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control has-feedback-left active" name="KhoaThi" id="dtpNgaySinhKT" type="date" /><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Hội đồng thi
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="HoiDongThiBTN" name="HoiDongThi" placeholder="Hội đồng thi" type="text" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Ngày lập <span class="required"></span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control has-feedback-left active" name="NgayLap" id="dtpBTNNL" type="date" /><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Số hiệu
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="SoHieuBTN" name="SoHieu" placeholder="Số hiệu" type="text" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        Số vào số cấp bằng
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="SovaoSoCapBangBTN" name="SovaoSoCapBang" placeholder="Số vào số cấp bằng" type="text" />
                                    </div>
                                </div>
                                <p id="messThemRBTN" style="color:red;font-weight:bold;"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="ln_solid"></div>
                            @*chức năng*@
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button class="btn btn-success" type="button" onclick="SaveBTN()" style="margin-left:30%;">Thêm mới</button>                                  
                                     <a href="@Url.Action("DetailChung","HocSinh", new { @id = @Model })" class="btn btn-primary">Huỷ</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div><input id="id_hsBTN" value="@Model" hidden="hidden" /></div>
<script type="text/javascript">
    function SaveBTN() {
        if ($("#HoTenBTN").val() == "" || $("#dtpNgaySinhBTN").val() == "" || $("#NoiSinhBTN").val() == "" ||
            $("#DanTocBTN").val() == "" || $("#dtpNgaySinhKT").val() == "" || $("#HoiDongThiBTN").val() == "" ||
            $("#dtpBTNNL").val() == "" || $("#SoHieuBTN").val() == "" || $("#SovaoSoCapBangBTN").val() == "") {
            $("#messThemRBTN").text("Thông tin không được để trống");
            return false;

        }
        var id_hs = $("#id_hsBTN").val();
        var btn = {
            HoTen: $("#HoTenBTN").val(),
            NgaySinh: $("#dtpNgaySinhBTN").val(),
            NoiSinh: $("#NoiSinhBTN").val(),
            GioiTinh: $('[name="GioiTinh"]:radio:checked').val(),
            DanToc: $("#DanTocBTN").val(),
            KhoaThi: $("#dtpNgaySinhKT").val(),
            HoiDongThi: $("#HoiDongThiBTN").val(),
            NgayLap: $("#dtpBTNNL").val(),
            SoHieu: $("#SoHieuBTN").val(),
            SovaoSoCapBang: $("#SovaoSoCapBangBTN").val()
        };
        $.ajax({
            type: "POST",
            url: "/BangTotNghiep/Themmoi",
            dataType: "json",
            data: JSON.stringify(btn),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert(data);
                window.location.href = "/HocSinh/DetailChung/" + id_hs;
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    }
</script>



