<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .container {
            margin-top: 30px;
        }
        table, tr, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body style="margin: 10px 30px" >
    <div class="row">
        <div class="col-lg-5">
                <div class="col-lg-5" style="padding: 0">
                    <img src="../images/logo.png" style="width: 100%" />
                </div>
                <div class="col-lg-7" style="padding: 0; font-size: 12px">
                    <h5 style="font-weight: bold">CÔNG TY TNHH AEON VIỆT NAM</h5>
                    <p>Số 30, Đường Bờ Bao Tân Thắng, Phường Sơn Kỳ, Quận Tân Phú, TP Hồ Chí Minh, VN</p>
                    <p>Mã số thuế:</p>
                </div>
        </div>
        <div class="col-lg-3" style="margin-top: 40px; text-align: center; padding-left: 0; padding-right:90px">
            <h3 style="margin-bottom: 0; font-weight: bold">HÓA ĐƠN</h3>
            <h3 style="margin: 0; font-weight: bold">GIÁ TRỊ GIA TĂNG</h3>
            <p>Liên 2: Giao cho người mua</p>
        </div>
        <div class="col-lg-4" style="margin-top: 60px; padding-left: 40px">
            <div class="col-lg-5" style="font-weight: bold">
                <p style="margin-bottom: 0">Mẫu số:</p>
                <p style="margin-bottom: 0">Ký hiệu:</p>
                <p style="margin-bottom: 0">Số tham chiếu:</p>
                <p style="margin-bottom: 0">Số hóa đơn:</p>
                <p style="margin-bottom: 0">Ngày lập hóa đơn:</p>
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col-lg-4" style="font-weight: bold">
            <p style="margin-bottom: 0">Đơn vị bán hàng:</p>
            <p style="margin-bottom: 0">Mã số thuế:</p>
            <p style="margin-bottom: 0">Địa chỉ:</p>
            <p style="margin-bottom: 0">Số điện thoại:</p>
            <p style="margin-bottom: 0">Fax:</p>
        </div>
        <div class="col-lg-8">

        </div>
    </div>
    <div class="row container">
        <div class="col-lg-4" style="font-weight: bold">
            <p style="margin-bottom: 0">Đơn vị bán hàng:</p>
            <p style="margin-bottom: 0">Mã số thuế:</p>
            <p style="margin-bottom: 0">Địa chỉ:</p>
        </div>
        <div class="col-lg-8">

        </div>
    </div>
    <div class="row container">
        <div class="col-lg-4" style="font-weight: bold">
            <p style="margin-bottom: 0">Hình thức thanh toán:</p>
        </div>
        <div class="col-lg-8">

        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>STT</th>
                <th>Mã số</th>
                <th>Tên sản phẩm</th>
                <th>ĐVT</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
                <th>TS thuế</th>
                <th>Thuế GTGT</th>
                <th>Cộng</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>
