@* Thêm mới học bạ *@
<div class="" id="ClassHB">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm mới thông tin học bạ</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class=" item form-group">
                                    <button id="btn_fileHB" type="button" onclick="$('#filehb').click()" class="btn btn-sm btn-primary" style="width:230px;">Chọn file<br /><i>(Chú ý file dạng Pdf!)</i></button>
                                    <input type="file" id="filehb" name="filehb" style="display: none;" class="form-control">
                                    <p id="messThemHB" style="color:red;font-weight:bold;"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @* Phan 1 *@
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Họ tên <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="HoTenHB" name="HoTen" required="required" placeholder="Họ tên" type="text" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Ngày sinh <span class="required"></span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control has-feedback-left active" name="NgaySinh" id="dtpNgaySinhHB" type="text" /><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>
                                @* Gioi tinh ?? *@
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Giới tính
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="GioiTinh" value="Nam" /> Nam
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="GioiTinh" value="Nữ" /> Nữ
                                        </label>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Nơi sinh
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="NoiSinhHB" name="NoiSinh" type="text" placeholder="Nơi sinh" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Dân tộc
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="DanTocHB" name="DanToc" placeholder="Dân tộc" type="text" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Nơi sống hiện tại
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="NoiSongHienTaiHB" name="NoiSongHienTai" type="text" placeholder="Nơi sống hiện tại" />
                                    </div>
                                </div>

                            </div>
                            @* phan 2 *@
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @* Bố *@
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Họ tên bố <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="HoTenBoHB" name="HoTenBo" type="text" placeholder="Họ tên bố" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Nghề nghiệp bố
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="NgheNghiepBoHB" name="NgheNghiepBo" placeholder="Nghề nghiệp bố" type="text" />
                                    </div>
                                </div>

                                @* Mẹ *@
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Họ tên mẹ <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="HoTenMeHB" name="HoTenMe" type="text" placeholder="Họ tên mẹ" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Nghề nghiệp mẹ
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="NgheNghiepMeHB" name="NgheNghiepMe" placeholder="Nghề nghiệp mẹ" type="text" />
                                    </div>
                                </div>

                                @* Người giám hộ *@
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Người giám hộ
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="NguoiGiamHoHB" name="NguoiGiamHo" type="text" placeholder="Người giám hộ" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Nghề nghiệp người giám hộ
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="NgheNghiepNGHHB" name="NgheNghiepNGH" placeholder="Nghề nghiệp người giám hộ" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12" style="margin-left:4%;">
                                        Ngày lập <span class="required"></span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input style="width:117.3%;" class="form-control has-feedback-left active" name="NgayLap" id="dtpNgayLapHB" type="text" /><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="ln_solid"></div>
                            @*chức năng*@
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button class="btn btn-success" type="button" onclick="SaveHocBa()" style="margin-left:30%;">Thêm mới</button>
                                    <a href="/HocSinh/Index" class="btn btn-primary">Huỷ</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@* form thêm mới năm học và điểm từng năm học *@
@Html.Action("Themmoi","NamHoc")

<script src="~/Scripts/XulyHocBa.js"></script>
<script type="text/javascript">   

    function Diem3Ky() {
        var bool1 = validateDiemChung("messTbDiem","ToanI", "LyI", "HoaI", "SinhI", "TinI", "VanI", "SuI", "DiaI", "NgoaiNguI", "CongNgheI", "QuocPhongAnNinhI", "TheDucI", "TuChonI", "GiaoDucCongDanI", "DiemTrungBinhI");
        var bool2 = validateDiemChung("messTbDiem", "ToanII", "LyII", "HoaII", "SinhII", "TinII", "VanII", "SuII", "DiaII", "NgoaiNguII", "CongNgheII", "QuocPhongAnNinhII", "TheDucII", "TuChonII", "GiaoDucCongDanII", "DiemTrungBinhII");
        var bool3 = validateDiemChung("messTbDiem", "ToanCN", "LyCN", "HoaCN", "SinhCN", "TinCN", "VanCN", "SuCN", "DiaCN", "NgoaiNguCN", "CongNgheCN", "QuocPhongAnNinhCN", "TheDucCN", "TuChonCN", "GiaoDucCongDanCN", "DiemTrungBinhCN");

        if (bool1 == false || bool2 == false || bool3 == false) {
            return false;
        } else {
            var diemKyI = LayDiem("Hkỳ I", "ToanI", "LyI", "HoaI", "SinhI", "TinI", "VanI", "SuI", "DiaI", "NgoaiNguI", "CongNgheI", "QuocPhongAnNinhI", "TheDucI", "TuChonI", "GiaoDucCongDanI", "DiemTrungBinhI");
            var diemKyII = LayDiem("Hkỳ II", "ToanII", "LyII", "HoaII", "SinhII", "TinII", "VanII", "SuII", "DiaII", "NgoaiNguII", "CongNgheII", "QuocPhongAnNinhII", "TheDucII", "TuChonII", "GiaoDucCongDanII", "DiemTrungBinhII");
            var diemKyCN = LayDiem("CN", "ToanCN", "LyCN", "HoaCN", "SinhCN", "TinCN", "VanCN", "SuCN", "DiaCN", "NgoaiNguCN", "CongNgheCN", "QuocPhongAnNinhCN", "TheDucCN", "TuChonCN", "GiaoDucCongDanCN", "DiemTrungBinhCN");
            $.ajax({
                type: "POST",
                url: "/NamHoc/SaveDiem3Ky",
                dataType: "json",
                data: JSON.stringify({ diemKyI: diemKyI, diemKyII: diemKyII, diemKyCN: diemKyCN }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data == "YES") {
                        $("#disDiemKyI").css("color", "blue");
                        $("#disDiemKyI").attr("disabled", true);
                        $("#disDiemKyII").css("color", "blue");
                        $("#disDiemKyII").attr("disabled", true);
                        $("#disDiemKyCN").css("color", "blue");
                        $("#disDiemKyCN").attr("disabled", true);
                        $("#" + Id_namhoc).removeClass("fa fa-plus").addClass(" fa fa-check");
                        $("#messTbDiem").text("Lưu thành công");
                        //xóa giá trị trong ô input sau khi đã thêm thành công
                        var allInputs = document.getElementsByTagName("input");
                        var results = [];
                        for (var x = 0; x < allInputs.length; x++)
                            allInputs[x].value = '';
                    } else {
                        $("#messTbDiem").text("Lưu thất bại");
                    }
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });
        }
    }
</script>